name: App Foundation CD deploy to CONHOS
on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
    - "main"
 
jobs:
  deploy-conhos:
    uses: application-foundation/ci-cd-workflow/.github/workflows/deploy-conhos.yml@main
    secrets: inherit
    permissions:
      contents: write
      id-token: write
